-action = @cake.id ? :create : :update

-labelled_form_for @cake, {} do |f|
  =raw f.text_field :name
  =raw f.text_field :description
  =raw f.submit

-if @cake.id
  -labelled_multipart_form_for [@cake,CakePhoto.new], {:cake_id=>@cake.id} do |f|
    =raw f.file_field :photo
    =raw f.submit

